.spayment{
    width:250px;
    height: 48px;
    font-weight: 500;
    border-radius: 12px;
    padding: 0px 10px;
}
.psubmit{
    width: 286px;
    height: 48px;
    background-color: black;
    color: white;
    border-radius:12px;
    margin-left: 15px;
    
}
.dfilter{
    width:150px;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content:space-between;
    padding: 0px 15px;
    align-items: center;    
    background-color:#D9DBE9;
    border-radius: 15px;

}
.mgap{
    margin-left:30px !important;
}
