.thead{
    background-color:#FFF7F3;
    width:100%;
}

.Sbold{
    font-weight: 700 !important;
}
.bgurgent{
    background-color: #FFEAEA;
    padding:5px 10px;
    border-radius: 10px;
    color:#C24C4C;
}